<h1>Scandit Titanium Plugin - RELEASE NOTES </h1>

<p>for iOS and Android version of plugin</p>

<h2>Changes in ScanditSDK Plugin for Titanium 1.3.0 </h2>

<ul>
<li><p>Android: Fixed bug where Scandit API method calls that update the user interface could lead to crashes of the app because of a threading issue. </p></li>
<li><p>Android: Fixed bug where settings set via the Scandit API were not always executed in the UI when a new activity was created. </p></li>
<li><p>Upgraded to latest version of native Scandit SDK for iOS (3.1.1) and Android (3.5.1) </p></li>
</ul>

<p><a href="https://ssl.scandit.com/account/sdk/release-notes/scanditsdk-community-ios_3.1.1">Release Notes of native Scandit SDK for iOS</a> </p>

<p><a href="https://ssl.scandit.com/account/sdk/release-notes/scanditsdk-community-ios_3.5.1">Release Notes of native Scandit SDK for Android</a> </p>

<h2>Changes in ScanditSDK Plugin for Titanium 1.2.2 </h2>

<p>iPhone only release</p>

<ul>
<li>iOS: Replaced old GUID in manifest file with a freshly generated GUID that is now identical
to the GUID in Android manifest file. The code base of the plugin is unchanged from the 1.2.1 release of the module.</li>
</ul>

<h2>Changes in ScanditSDK Plugin for Titanium 1.2.1 </h2>

<p>iPhone only release</p>

<ul>
<li>iOS: changed GUID in manifest file back to the one in version 1.1.1 - change of GUID in combination with change of GUID stored in the appcelerator marketplace caused lots of issues with existing Android users of our plugin. </li>
</ul>

<h2>Changes in ScanditSDK Plugin for Titanium 1.2.0 </h2>

<p>iPhone only release - May 31th</p>

<ul>
<li>iOS: incorporates the latest Scandit SDK for iOS (V3.0.2) - see below for detailed changes in Scandit SDK V3.0.2</li>
</ul>

<p><a href="https://ssl.scandit.com/account/sdk/release-notes/scanditsdk-community-ios_3.0.4">Release Notes of native Scandit SDK for iOS</a> (see section for 3.0.2 bug fixes in change log)</p>

<ul>
<li>iOS: updated Ti Plugin API with new methods to use Scandit SDK for iOS 3.0.* functionality. See API documentation for details. </li>
</ul>

<h2>Changes in ScanditSDK Plugin for Titanium 1.1.1 </h2>

<p>Android &amp; iPhone release - February 27th 2013</p>

<ul>
<li>Android: fixed critical bug in Android Titanium plugin 1.1.0 where all builds had the enterprise trial feature set which requires mandatory network access.</li>
</ul>

<h2>Changes in ScanditSDK Plugin for Titanium 1.1.0 </h2>

<p>Android &amp; iPhone release - February 19th 2013</p>

<ul>
<li>Important software update to work with orientation changes and to support barcode scanning in landscape mode. </li>
</ul>

<p>IMPORTANT: this update requires a (small) change to the way you instantiate the Scandit SDK in your Titanium app. See the example for details. </p>

<ul>
<li><p>Fixed a bug in timodule.xml (Android) that prevented deployment on any device. Autofocus and flash are now also optional (no longer required). </p></li>
<li><p>Fixed a bug where QR code scanning was only enabled by default on iPhone devices and not on Android devices. QR code scanning is now enabled by default on both platforms. </p></li>
<li><p>Fixed a bug resulting from a typo in the method stopScanning. the method is now called stopScanning (and no longer stopScannning).  </p></li>
<li><p>Corrected toolbar offset.</p></li>
<li><p>Upgraded to Scandit SDK for Android 3.3.0. This includes software updates that address idiosyncrasies of various Android devices (Nexus 4, Nexus 7, …), support for GS1 QR codes, improved scanning performance on a number of Android devices</p></li>
<li><p>Upgraded to Scandit SDK for iPhone 2.2.7. This includes software updates to fix bug when switching from front to back camera by deallocating and reallocating ScanditBarcodePicker, to address a rare bug related to the OpenUDID implementation, to make 'beep' implementation less greedy, support for GS1 QR code symbology,  </p></li>
</ul>
